* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
  color: #fff
}

html, 
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px ;
  background-color: #222;

}

.card p {
  margin: 20px 0;
}

.card button {
  padding: 10px 20px; 
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}

.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}