 

.card {
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav {
  background-color: lightblue;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}